<!DOCTYPE html>
<html ng-app="cart">
<head lang="en">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="css/angular-csp.css"/>
  <title>过滤器orderBy的使用</title>
</head>
<body ng-controller="filterController">

<!--过滤器orderBy的使用-->
<table>
  <tr>
    <th><a href="javascript:void(0)" ng-click="orderField='name';reverse=!reverse;">名称</a></th>
    <th><a href="javascript:void(0)" ng-click="orderField='phone';reverse=!reverse;">电话</a></th>
  </tr>
  <!--使用ng-repeat指令渲染所有的朋友数据-->
  <tr ng-repeat="friend in friends|orderBy:orderField:reverse">
    <td>{{friend.name}}</td>
    <td>{{friend.phone}}</td>
  </tr>
</table>


<table>
  <tr>
    <th><a href="javascript:void(0)" ng-click="orderField='name';reverse=!reverse;">名称</a></th>
    <th><a href="javascript:void(0)" ng-click="orderField='phone';reverse=!reverse;">电话</a></th>
  </tr>
  <!--使用ng-repeat指令渲染所有的朋友数据-->
  <tr ng-repeat="friend in friends|orderBy:['-name','phone']">
    <td>{{friend.name}}</td>
    <td>{{friend.phone}}</td>
  </tr>
</table>


<script src="js/angular.js"></script>
<script src="js/cart.js"></script>
</body>
</html>